services:
  frontend:
    build: ./front
    container_name: react-frontend
    ports:
      - "3000:5173"
    volumes:
      - ./front:/app
      - /app/node_modules
    stdin_open: true
    tty: true
    command: npm run dev -- --host

  backend:
    build: ./back
    container_name: node-backend
    ports:
      - "5001:5000"
    volumes:
      - ./back:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    command: npm run dev
